body{
    background-image: url("/HTML/spaceX/imagenes/fondoEspacio.jpg/");
    background-color: #000;
}
#titulo{
    color: #fff;
    font-size: 70px;
    position: relative;
    left: 8%;
    top: 40px;
    font-family: monospace;
    padding-bottom: 50px;
    padding-top: 90px;
    z-index: 1;
}
#textoPrincipal{
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    padding-left: 20px;
    z-index: 1;
}
#cohete{
    height: 300px;
    position: relative;
    left: 75%;
    animation-name: cohete;
    animation-duration: 5s;
    animation-delay: initial;
    animation-iteration-count: infinite;
    z-index: -1;
}
@keyframes cohete{
    50%{
        bottom: 0px;
    }
    100%{
        bottom: 700px;
    }
}
